.form {
  height: calc(100vh - 21px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  .auth {
    width: 400px;
    height: auto;
    padding: 30px;
    border: 1px solid var(--white);
    border-radius: 10px;
    background: var(--white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);

    .title {
      margin: 0;
      margin-bottom: 20px;
    }

    .userName {
      margin-bottom: 20px;
      input {
        width: 100%;
        box-sizing: border-box;
      }
    }

    .email {
      margin-bottom: 20px;
      input {
        width: 100%;
        box-sizing: border-box;
      }
    }

    .password {
      margin-bottom: 20px;
      input {
        width: 100%;
        box-sizing: border-box;
      }
    }

    .bottom {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      .acc {
        .registration {
          color: var(--primary);
          cursor: pointer;
          margin-left: 5px;
          transition: all ease .2s;

          &:hover {
            color: var(--primary-hover);
          }
        }
      }

      .btn {
      }
    }

    .errorMessage {
      color: var(--red);
      font-size: 14px;
    }
  }
}