body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
  min-height: 100vh;
}

:root {
  --black: #262626;
  --black-light: #555555;
  --white: white;
  --gray: #c4c4c4;
  --primary: #76bc21;
  --red: #DE1F1C;
}
